/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.center {
  text-align: center

}

.two-column {
  flex-basis: 50%;
  display: flex;
  margin-bottom: 1rem;
}

.column {
  width: 100%;
}

.column + .column {
  margin-left: 1rem;
}

.battle {
  width: 239px;
  height: 270px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin: 5px auto;
}

.battle-scene {
  align-items: flex-end;
  height: 100%;
}
