/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

main {
  max-width: 600px;
  margin: auto;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-column {
  flex-basis: 50%;
  display: flex;
  margin-bottom: 1rem;
}

.column {
  width: 100%;
}

.column + .column {
  margin-left: 1rem;
}

.battle {
  width: 239px;
  height: 270px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin: 5px auto;
}

.battle-scene {
  align-items: flex-end;
  height: 100%;
}

.log {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
